<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="PerlChina 2016 大会">
        <meta name="author" content="Achilles Xu">
        <link rel="icon" href="/favicon.ico">

        <title>[% IF page_title %][% page_title %] - [% END %]PerlChina 2016 大会</title>

        <!-- Bootstrap core CSS -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/my.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/javascripts/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Static navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">PerlChina 2016 大会</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li[% IF page_channel == 'home' %] class="active"[% END %]><a href="/">首页</a></li>
                        <li[% IF page_channel == 'schedule' %] class="active"[% END %]><a href="/c/[% session.conference.name %]/schedule">日程</a></li>
                        <li[% IF page_channel == 'address' %] class="active"[% END %]><a href="/c/[% session.conference.name %]/address">地址</a></li>
                        <li[% IF page_channel == 'live' %] class="active"[% END %]><a href="/c/[% session.conference.name %]/live">直播</a></li>
                        [% IF session.user %]
                            <li[% IF page_channel == 'join' %] class="active"[% END %]><a href="/c/[% session.conference.name %]/join">报名</a></li>
                            <li[% IF page_channel == 'talk' %] class="active"[% END %]><a href="/c/[% session.conference.name %]/addtalk">提交演讲</a></li>
                        [% END %]
                        <li[% IF page_channel == 'sponsor' %] class="active"[% END %]><a href="/c/[% session.conference.name %]/sponsor">赞助</a></li>
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="js-user-links" style="display:none"><a href="#" id="navUserNick">aaa</a></li>
                        <li class="js-user-links" style="display:none"><a href="#" id="navLogout">注销</a></li>
                        <li class="js-login-links" style="display:none"><a href="#" data-toggle="modal" data-target="#loginModal">登录</a></li>
                        <li class="js-login-links" style="display:none"><a href="#" data-toggle="modal" data-target="#registerModal">注册</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    [% content %]
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">赞助/合作</h3>
                        </div>
                        <div class="panel-body">
                            <p>微信公众号：perlcoder</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">以往大会</h3>
                        </div>
                        <div class="panel-body">
                            <a href="http://conference.perlchina.org/bjpw2013" target="_blank">2013</a><br>
                            <a href="http://conference.perlchina.org/bjpw2011" target="_blank">2011</a><br>
                            <a href="http://conference.perlchina.org/bjpw2009" target="_blank">2009</a><br>
                            <a href="http://conference.perlchina.org/bjpw2008" target="_blank">2008</a><br>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <footer>
                <p>Powered by <a href="http://www.perl.org/" target="_blank">Perl</a> and <a href="http://perldancer.org/" target="_blank">Dancer</a></p>
            </footer>
        </div> <!-- /container -->

        <!-- login modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">用户登录</h4>
                    </div>
                    <form id="loginForm">
                        <div class="modal-body">
                            <div class="alert alert-danger" id="loginErrorDiv" style="display:none"><strong>错误！</strong><span>密码必须填写</span></div>
                            <div class="form-group">
                                <label for="loginNick">昵称</label>
                                <input type="text" class="form-control" id="loginNick" placeholder="昵称" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="loginPass">密码</label>
                                <input type="password" class="form-control" id="loginPass" placeholder="密码" maxlength="50">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="pull-left">还没账号？前往注册</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- login modal end -->

        <!-- register modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">用户注册</h4>
                    </div>
                    <form id="registerForm">
                        <div class="modal-body">
                            <div class="alert alert-danger" id="registerErrorDiv" style="display:none"><strong>错误！</strong><span>密码必须填写</span></div>
                            <div class="form-group">
                                <label for="registerNick">昵称</label>
                                <input type="text" class="form-control" id="registerNick" placeholder="昵称" maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="registerPass">密码</label>
                                <input type="password" class="form-control" id="registerPass" placeholder="密码" maxlength="50">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="pull-left">已有账号？前往登录</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- register modal end -->
        
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
        <script src="/javascripts/layout.js"></script>
    </body>
</html>
